.u-block-ec3e-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-ec3e-5 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
  right: auto;
}

.u-block-ec3e-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/adf7d7a659e91c62938faffb83f837535565c1daa9a4145e4a8e2dec4e8ba43e1bcc1ff11d782d01506cfb61704817669a3fe5d6bdadb075a54b59_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 263px auto 0;
}

.u-section-1-1 .u-text-2 {
  width: 760px;
  font-weight: 700;
  font-size: 2.1875rem;
  margin: 31px auto 0;
}

.u-section-1-1 .u-layout-wrap-1 {
  width: 562px;
  margin: 31px auto 60px;
}

.u-section-1-1 .u-layout-cell-1 {
  min-height: 49px;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-1-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  border-style: none;
  margin: 0 auto;
  padding: 10px 31px 10px 30px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-1-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 786px;
}

.u-section-2 .u-text-1 {
  margin: 50px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 552px;
  margin-top: 30px;
  margin-bottom: 60px;
  grid-gap: 17px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-2 .u-gallery-1 {
    height: 455px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1018px;
  }

  .u-section-2 .u-gallery-1 {
    height: 784px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2586px;
  }

  .u-section-2 .u-gallery-1 {
    height: 2352px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1715px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1481px;
  }
} .u-section-3 {
  min-height: 318px;
}

.u-section-3 .u-sheet-1 {
  min-height: 889px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: -2px;
  margin-bottom: 2px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 823px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 56px;
}

.u-section-3 .u-text-1 {
  margin: 17px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 56px 310px 0 27px;
}

.u-section-3 .u-form-1 {
  height: 201px;
  width: 611px;
  margin: 8px auto 0;
}

.u-section-3 .u-form-group-1 {
  width: 100%;
}

.u-section-3 .u-label-1 {
  font-size: 1.25rem;
}

.u-section-3 .u-input-1 {
  font-size: 1.5rem;
}

.u-section-3 .u-form-group-2 {
  width: 100%;
}

.u-section-3 .u-label-2 {
  font-size: 1.25rem;
}

.u-section-3 .u-input-2 {
  font-size: 1.5rem;
}

.u-section-3 .u-form-group-3 {
  width: 100%;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  background-image: none;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: -16px 319px 0 17px;
}

.u-section-3 .u-form-2 {
  height: 201px;
  width: 611px;
  margin: 8px 9px 0;
}

.u-section-3 .u-form-group-4 {
  width: 100%;
}

.u-section-3 .u-input-3 {
  font-size: 1.5rem;
}

.u-section-3 .u-form-group-5 {
  width: 100%;
}

.u-section-3 .u-input-4 {
  font-size: 1.5rem;
}

.u-section-3 .u-form-group-6 {
  width: 100%;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  background-image: none;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 9px 319px 0 17px;
}

.u-section-3 .u-form-3 {
  height: 201px;
  width: 611px;
  margin: 0 9px;
}

.u-section-3 .u-form-group-7 {
  width: 100%;
}

.u-section-3 .u-input-5 {
  font-size: 1.5rem;
}

.u-section-3 .u-form-group-8 {
  width: 100%;
}

.u-section-3 .u-btn-3 {
  border-style: none;
  background-image: none;
}

.u-section-3 .u-image-1 {
  min-height: 776px;
  background-image: url("images/th.jfif");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 679px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 138px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 237px;
    margin-left: 0;
  }

  .u-section-3 .u-form-1 {
    width: 499px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 206px;
    margin-left: 0;
  }

  .u-section-3 .u-form-2 {
    width: 499px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 207px;
    margin-left: 0;
  }

  .u-section-3 .u-form-3 {
    width: 499px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 640px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 66px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 116px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 179px;
  }

  .u-section-3 .u-form-1 {
    width: 408px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 115px;
  }

  .u-section-3 .u-form-2 {
    width: 408px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 116px;
  }

  .u-section-3 .u-form-3 {
    width: 408px;
  }

  .u-section-3 .u-image-1 {
    min-height: 490px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-image-1 {
    min-height: 621px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-form-1 {
    width: 320px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-form-2 {
    width: 320px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-form-3 {
    width: 320px;
  }

  .u-section-3 .u-image-1 {
    min-height: 391px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1058px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 71px auto 0;
}

.u-section-4 .u-form-1 {
  height: 859px;
  width: 754px;
  margin: 19px auto 57px;
}

.u-section-4 .u-label-1 {
  font-size: 1.5rem;
}

.u-section-4 .u-input-1 {
  font-size: 1.5rem;
}

.u-section-4 .u-form-group-2 {
  margin-left: 0;
}

.u-section-4 .u-label-2 {
  font-size: 1.5rem;
}

.u-section-4 .u-input-2 {
  font-size: 1.5rem;
}

.u-section-4 .u-form-group-3 {
  margin-left: 0;
}

.u-section-4 .u-label-3 {
  font-size: 1.5rem;
}

.u-section-4 .u-input-3 {
  font-size: 1.5rem;
}

.u-section-4 .u-label-4 {
  font-size: 1.5rem;
}

.u-section-4 .u-input-4 {
  font-size: 1.5rem;
}

.u-section-4 .u-form-group-5 {
  margin-left: 0;
}

.u-section-4 .u-label-5 {
  font-size: 1.5rem;
}

.u-section-4 .u-input-5 {
  font-size: 1.5rem;
}

.u-section-4 .u-form-group-6 {
  margin-left: 0;
}

.u-section-4 .u-label-6 {
  font-size: 1.5rem;
}

.u-section-4 .u-input-6 {
  font-size: 1.5rem;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-form-1 {
    width: 432px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-form-1 {
    margin-top: -52px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-form-1 {
    height: 409px;
    width: 300px;
    margin-top: 19px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 349px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 420px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("images/pastelero.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 346px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-cell-2 {
    min-height: 371px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
  }

  .u-section-5 .u-btn-1 {
    margin-right: auto;
  }
}