 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 552px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 51px auto 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 28px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 375px;
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-1 .u-image-1 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 42px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 0;
}

.u-section-1 .u-image-2 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 42px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 0;
}

.u-section-1 .u-image-3 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 42px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 309px;
  }

  .u-section-1 .u-image-1 {
    height: 176px;
  }

  .u-section-1 .u-image-2 {
    height: 176px;
  }

  .u-section-1 .u-image-3 {
    height: 176px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 710px;
  }

  .u-section-1 .u-image-1 {
    height: 202px;
  }

  .u-section-1 .u-image-2 {
    height: 202px;
  }

  .u-section-1 .u-image-3 {
    height: 202px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    height: 303px;
  }

  .u-section-1 .u-image-2 {
    height: 303px;
  }

  .u-section-1 .u-image-3 {
    height: 303px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 191px;
  }

  .u-section-1 .u-image-2 {
    height: 191px;
  }

  .u-section-1 .u-image-3 {
    height: 191px;
  }
} .u-section-2 {
  min-height: 318px;
}

.u-section-2 .u-sheet-1 {
  min-height: 694px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 694px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0 28px;
}

.u-section-2 .u-text-1 {
  margin: 17px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 56px 366px 0 83px;
}

.u-section-2 .u-form-1 {
  height: 227px;
  margin: 8px 464px 0 65px;
}

.u-section-2 .u-form-group-1 {
  width: 100%;
}

.u-section-2 .u-label-1 {
  font-size: 1.25rem;
}

.u-section-2 .u-input-1 {
  font-size: 1.5rem;
}

.u-section-2 .u-form-group-2 {
  width: 100%;
}

.u-section-2 .u-label-2 {
  font-size: 1.25rem;
}

.u-section-2 .u-input-2 {
  font-size: 1.5rem;
}

.u-section-2 .u-form-group-3 {
  width: 100%;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  background-image: none;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: -16px 375px 0 73px;
}

.u-section-2 .u-image-1 {
  width: 278px;
  height: 278px;
  margin: -211px 97px 0 auto;
}

.u-section-2 .u-form-2 {
  height: 201px;
  width: 611px;
  margin: -59px 65px 0;
}

.u-section-2 .u-form-group-4 {
  width: 100%;
}

.u-section-2 .u-input-3 {
  font-size: 1.5rem;
}

.u-section-2 .u-form-group-5 {
  width: 100%;
}

.u-section-2 .u-input-4 {
  font-size: 1.5rem;
}

.u-section-2 .u-form-group-6 {
  width: 100%;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 572px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 138px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 237px;
    margin-left: 18px;
  }

  .u-section-2 .u-form-1 {
    margin-right: 399px;
    margin-left: 0;
    width: 499px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 310px;
    margin-left: 8px;
  }

  .u-section-2 .u-form-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 66px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 116px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 179px;
    margin-left: 0;
  }

  .u-section-2 .u-form-1 {
    margin-right: 256px;
    width: 408px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 175px;
    margin-left: 0;
  }

  .u-section-2 .u-form-2 {
    width: 468px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-form-1 {
    margin-right: 56px;
    width: 320px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-right: 62px;
  }

  .u-section-2 .u-form-2 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-tabs-1 {
  min-height: 406px;
  margin: 60px auto 60px 0;
}

.u-section-3 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-pane-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 25px;
}

.u-section-3 .u-text-1 {
  line-height: 1.8;
  font-weight: normal;
  margin: 0 auto 0 0;
}

.u-section-3 .u-table-1 {
  margin: 30px auto -30px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-tabs-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    line-height: 28.8px;
    font-weight: 400;
  }

  .u-section-3 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}